{% extends "NicotecDoctrineautoBundle:Include:column_left.html.twig" %}

{% set title = 'Formulaire simple' %}

{% block title %}{{ title }}{% endblock %}

{% block js %}
<script type="text/javascript">
    $(function() {


    })
</script>
{% endblock %}

{% block body_column %}
{% include 'NicotecDoctrineautoBundle:Include:menu_code.html.twig' %}
{% endblock %}


{% block body_content %}
<h3>{{ title }}</h3>

<ul class="nav nav-tabs" id="myTab">
    <!--<li><a href="#tab1" data-toggle="tab">Configurer</a></li>-->
    <li class="active"><a href="#tab2" data-toggle="tab">{{ codes['form_simple']['titre'] }}</a></li>
    <li><a href="#tab3" data-toggle="tab">{{ codes['form_crud']['titre'] }}</a></li>
    <li><a href="#tab4" data-toggle="tab">{{ codes['form_factorise_a']['titre'] }}</a></li>
    <li><a href="#tab5" data-toggle="tab">{{ codes['form_factorise_b']['titre'] }}</a></li>
    <!--<li><a href="#tab5" data-toggle="tab">Delete</a></li>-->
</ul>

<div class="tab-content">
<!--    <div class="tab-pane" id="tab1">
        coming soon
    </div>-->
    <div class="tab-pane active" id="tab2">
        {% include 'NicotecDoctrineautoBundle:Generator:_form_slug.html.twig' with { 'slug' : 'form_simple' } %}
    </div>
    <div class="tab-pane" id="tab3">
        {% include 'NicotecDoctrineautoBundle:Generator:_form_slug.html.twig' with { 'slug' : 'form_crud' } %}
    </div>
    <div class="tab-pane" id="tab4">
        {% include 'NicotecDoctrineautoBundle:Generator:_form_slug.html.twig' with { 'slug' : 'form_factorise_a' } %}
    </div>
    <div class="tab-pane" id="tab5">
        {% include 'NicotecDoctrineautoBundle:Generator:_form_slug.html.twig' with { 'slug' : 'form_factorise_b' } %}
    </div>
    {#<div class="tab-pane" id="tab5">
        <h5>{{ codes['form_delete']['help'] }} :</h5>
        {{ cc.config(codes['form_delete']['code'],'php').result() }}
    </div>#}
</div>

{% endblock %}

