{% extends "WsGeneEditBundle::layout.html.twig" %}

{% block body %}
<script type="text/javascript">
    $(function(){

        $('.ws_entity').click(function(){
            var t = $(this);
            $('.ws_entity_vu').slideUp(800, function(){
                $('#'+t.attr('id')+'_vu').slideDown();
            });
        });

    });
    </script>

    <div>Génération automatique</div>
    <br>

    {% for base in bases %}
        {% for table,entity in base.codeEntity %}
    <div class="ws_entity" id="{{ base.name }}_{{ table }}" style="background: #f1f1f1;padding: 5px;cursor: pointer"><b>{{ base.name }}</b> {{ table }}</div>
    <div class="ws_entity_vu" id="{{ base.name }}_{{ table }}_vu" style="display: none"><textarea style="width: 800px;height: 800px;">{{ entity }}</textarea></div>
    <br>
        {% endfor %}
        {% for table,entity in base.codeEntity %}
    '{{ table }}',
        {% endfor %}
    <br>
    <br>
    {% endfor %}

{% endblock %}

